.vscode/**
.vscode-test/**
.github/**
src/**
tests/**
note/**
dist-test/**
dist/**/*.map
tsconfig.json
tsconfig.test.json
tsconfig.tsbuildinfo
**/*.ts
!dist/**/*.js
.gitignore
.vscodeignore
vsc-extension-quickstart.md
**/*.map
coverage/**
*.vsix

